<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>HOPE HAVEN | About Us </title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">

		<%- include('../partials/site/head'); %>
	</head>

	<body>
		<!-- Top Bar Start -->
		<%- include('../partials/site/header', { current: current }); %>
		<!-- Top Bar End -->
		
		<!-- Page Header Start -->
		<div class="page-header">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h2>About Us</h2>
					</div>
					<div class="col-12">
						<a href="">Home</a>
						<a href="">About Us</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Page Header End -->
		
		<!-- About Start -->
		<div class="about">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="about-img" data-parallax="scroll" data-image-src="img/testimonial-1.jpg"></div>
					</div>
					<div class="col-lg-6">
						<div class="section-header">
							<p>Learn About Us</p>
							<h2>Worldwide non-profit charity organization</h2>
						</div>
						<div class="about-tab">
							<ul class="nav nav-pills nav-justified">
								<li class="nav-item">
									<a class="nav-link active" data-toggle="pill" href="#tab-content-1">About</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="pill" href="#tab-content-2">Mission</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="pill" href="#tab-content-3">Vision</a>
								</li>
							</ul>
                   
							<div class="tab-content">
								<div id="tab-content-1" class="container tab-pane active">
									We are a non-profit NGO working around the clock to put a smile on the face of vulnerable and needy families and individuals. Support this good course by donating money that will be used to make a turnaround in the lives of many. We are Hope Haven. You are in the right place.
								</div>
								<div id="tab-content-2" class="container tab-pane fade">
									Many organizations around the world are coming up with plans to restore human dignity through lending hands and deliver relief in times of need . We are not exception. This is made possible only through your generous giving.
								</div>
								<div id="tab-content-3" class="container tab-pane fade">
									Imagine a world full of love and tolerance, care and kindness. The world is only possible through Hope Haven where we are feeding hopes to the millions of folks and educating a huge number of brains. That is where you come in and make it possible through reaching out and sending your donation.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- About End -->
        
        
		<!-- Facts Start -->
		<div class="facts" data-parallax="scroll" data-image-src="img/facts.jpg">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="facts-item">
							<i class="flaticon-home"></i>
							<div class="facts-text">
								<h3 class="facts-plus" data-toggle="counter-up">150</h3>
								<p>Countries</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="facts-item">
							<i class="flaticon-charity"></i>
							<div class="facts-text">
								<h3 class="facts-plus" data-toggle="counter-up">400</h3>
								<p>Volunteers</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="facts-item">
							<i class="flaticon-kindness"></i>
							<div class="facts-text">
								<h3 class="facts-dollar" data-toggle="counter-up">10000</h3>
								<p>Our Goal</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="facts-item">
							<i class="flaticon-donation"></i>
							<div class="facts-text">
								<h3 class="facts-dollar" data-toggle="counter-up">50000</h3>
								<p>Raised</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Facts End -->
		
		<!-- Team Start -->
		<%- include('../partials/site/team'); %>
		<!-- Team End -->
        
		
		<!-- Testimonial Start -->
		<%- include('../partials/site/testimonials'); %>
		<!-- Testimonial End -->
		
		<!-- Footer Start -->
		<%- include('../partials/site/footer'); %>
		<!-- Footer End -->
	</body>
</html>